{% extends 'base.html.twig' %}

{% block title %}DemandeAchat index{% endblock %}

{% block body %}
    <h1>DemandeAchat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motif</th>
                <th>DateHeure</th>
                <th>StatusValidation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for demande_achat in demande_achats %}
            <tr>
                <td>{{ demande_achat.id }}</td>
                <td>{{ demande_achat.motif }}</td>
                <td>{{ demande_achat.dateHeure ? demande_achat.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ demande_achat.statusValidation }}</td>
                <td>
                    <a href="{{ path('app_achat_demande_achat_show', {'id': demande_achat.id}) }}">show</a>
                    <a href="{{ path('app_achat_demande_achat_edit', {'id': demande_achat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_achat_demande_achat_new') }}">Create new</a>
{% endblock %}
