{% extends 'base.html.twig' %}

{% block title %}DemandeAchat{% endblock %}

{% block body %}
    <h1>DemandeAchat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ demande_achat.id }}</td>
            </tr>
            <tr>
                <th>Motif</th>
                <td>{{ demande_achat.motif }}</td>
            </tr>
            <tr>
                <th>DateHeure</th>
                <td>{{ demande_achat.dateHeure ? demande_achat.dateHeure|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>StatusValidation</th>
                <td>{{ demande_achat.statusValidation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_achat_demande_achat_index') }}">back to list</a>
{% endblock %}
